[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "diffee"]
	path = diffee
	url = https://github.com/cran/diffee
[submodule "jeek"]
	path = jeek
	url = https://github.com/cran/jeek
[submodule "simule"]
	path = simule
	url = https://github.com/cran/simule
